<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID Alimento</th>
					<th>Nombre</th>
					<th>Marca</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="alimento: ${alimentos}">
					<td th:text="${alimento.id_alimento}"></td>
					<td th:text="${alimento.nombre}"></td>
					<td th:text="${alimento.marca}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
